{% extends 'base.html' %}

{% block title %}Добавление заказа - {{ block.super }}{% endblock %}
{% load bootstrap5 %}

{% block content %}
  {% block one %}
    <h1>Добавление заказа</h1>
  {% endblock one %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
  {% for field in form %}
    {% bootstrap_field field layout='horizontal' %}
  {% endfor %}
    {% bootstrap_formset formset layout='horizontal' %}

    {% buttons submit='Добавить' %}{% endbuttons %}
  </form>
{% endblock %}
