{% extends 'base.html' %}

{% block title %}Список заказов - {{ block.super }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
  <div class="container">
    <h1>Список заказов</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Товар</th>
        <th scope="col">Тип</th>
        <th scope="col">Дата доставки</th>
        <th scope="col">Адреса</th>
      </tr>
      </thead>
      <tbody>
      {% for delivery in deliveries %}
        <tr>
          <th scope="row"><a>{{ delivery.title }}</a></th>
          <td>{{ delivery.product_type }}</td>
          <td>{{ delivery.delivery_date|date:"d M Y" }}</td>
          <td>{% for address in delivery.addresses.all %}{{ address.addr }}<br>{% endfor %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
